<div class="pagestyle">
    <div class="form-container">
        <div class="title-container">
            <img src="assets/imgs/ETSISI_color.png" width="100px" height="60px" style="float: left;" >
        </div>
        <h1 class="title-text">Preferences</h1>
        <div class="form-group">
            <label for="numUFOs">Number of UFOs:</label>
            <select id="numUFOs" name="numUFOs">
                <option value="1">1</option>
            </select>
        </div>
        <div class="form-group">
            <label for="gameTime">Game Time (seconds):</label>
            <select id="gameTime" name="gameTime" [(ngModel)]="selectedGameTime">
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="180">180</option>
            </select>
        </div>
        <div class="form-group">
            <button id="acceptBtn" (click)="savePreferences()">Accept</button>
        </div>
    </div>
</div>