<header class="navbar container-fluid">
  <nav class="container-fluid" id="menu" >
    <div class="navbar-header">
    </div>
      <a class="navbar-brand" href="http://www.upm.es" target="_nueva">
        <img src='assets/imgs/upmlogo.jpg' id='upmlogo' class='bordes_redondos'>
      </a>
      <span class="nav-text" style="float: left;">U.P.M/UFO Battle</span>
      <a routerLink="home-page" routerLinkActive="active">
        <img src="assets/imgs/home-icon.png" width="16px" height="16px" alt="Home Icon">Home
      </a>
      <a routerLink="pref" routerLinkActive="active">
        <img src="assets/imgs/pref-icon.png" width="16px" height="16px" alt="Preferences Icon">Preferences
      </a>
      <a>
        <img src="assets/imgs/play-icon.png" width="16px" height="16px" alt="Play Icon">Play
      </a>
      <a routerLink="records">
        <img src="assets/imgs/record-icon.png" width="16px" height="16px" alt="Records Icon">Records
      </a>
      <div class="right-options">
        <a routerLink="register" routerLinkActive="active">
          <img src="assets/imgs/register-icon.png" width="16px" height="16px" alt="Register Icon">Register
        </a>
        <a routerLink="login" routerLinkActive="active">
          <img src="assets/imgs/login-icon.png" width="16px" height="16px" alt="Login Icon">Login
        </a>
      </div>
  </nav>
</header>
<section class="container" id="contenedor">
  <router-outlet></router-outlet>
</section>
