:host {
  display: block;
}

.list-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ADF7B6;
  background-color: #A0CED9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #FFC09F;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

