:host {
  display: block;
}
#asig {font-style: italic; font-weight: bold; font-size: 24pt;}
#cuerpo { 
  background-color: #FFC09F;
  border: 2px solid#65cce6;}
.home-text {
    color: #000;
    font-size: 50px;
    margin-top: 12px;
    font-weight: bold;
    margin-left: 20px;
}
.small-home-text {
    color: #000;
    font-size: 30px;
    font-style: italic;
    float: right;
    margin-left: 20px;
    
}