<div class="jumbotron" id='cuerpo'>
    <div>
        <img src="assets/imgs/upm.gif">
        <img src="assets/imgs/ETSISI_color.png" width="200px" height="120px" style="float: right;" >
        </div>   
            <div>
                <p class="home-text"> E.T.S.I Sistemas Informaticos</p>
                <p class="small-home-text" style="margin-right: 50px;" >Web Development</p>
                <img src="assets/imgs/ufo.png" width="100px" height="120px" style="margin-left: 150px;" >
                <p class="small-home-text" style="float: left;">Practical Exercise-UFO Battle </p>
        </div>
  </div>