<form id="registrationForm" #regForm="ngForm">
    <div class="title-container">
        <img src="assets/imgs/ETSISI_color.png" width="100px" height="60px" style="float: left;">
        <h1 class="title-text">Register New User</h1>
    </div>
    <table>
        <tbody>
            <tr>
                <td>Username:</td>
                <td><input type="text" id="username" [(ngModel)]="username" name="username" required (blur)="onUsernameBlur()">
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" id="email" [(ngModel)]="email" name="email" required></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" id="password" [(ngModel)]="password"  name="password" required></td>
            </tr>
            <tr>
                <td>Repeat Password:</td>
                <td><input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required></td>
            </tr>
        </tbody>
    </table>
    <div class="button-container">
        <button type="button" id="registerBtn" (click)="registerUser()" [disabled]="!regForm.valid">Send</button>
    </div>
</form>
